/* GENERIC RULE  */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.bgDirtywhite {
    background-color: #f8f9fa;
}
.bgDarkBlue {
    background-color: #051e34;
}
.bgBlue {
    background-color: #1b72e8;
}
.h100vh {
    height: calc(100% - 70px);
}
.h50px {
    height: 50px;
}
.sideBar {
    font-size: 14px;
}
.h100 {
    height: 100%;
}
.h30 {
    height: 30%;
}
.overflowYscroll {
    overflow-y:auto;
}



